<h1>Üdvözlöm a Flow Academy e-naplójában!</h1>

<div>

  <a href="http://localhost:3000/year">Kérem kattintson a továbblépéshez!</a>
</div>
{{!-- <a class="btn btn-default btn-success" href="http://localhost:3000/year">Kérem kattintson a továbblépéshez!</a> --}}