<form action="/studyYear" class="form" method="POST">
  <div class="form-group">
    <label for="title">ADD STUDY YEAR
    </label>
    <input type="text" class="form-control" name="studyYear" id="newStudyYear" placeholder="Enter a study year">
  </div>
  <button type="submit" class="btn btn-default btn-success">Create new studyyear</button>
</form>

<form action="/studyYear" class="form" method="POST">
  <div class="form-group">
    <label for="title">ADD STUDENT
    </label>
    <input type="text" class="form-control" name="StudentFirstName" id="StudentFirstName"
      placeholder="Enter a student firstname">
    <input type="text" class="form-control" name="StudentLastName" id="StudentLastName"
      placeholder="Enter a student laststname">
    <input type="text" class="form-control" name="birthPlace" id="birthPlace" placeholder="Enter students birthplace">
    <input type="date" class="form-control" name="birthDate" id="birthDate" placeholder="birthdate">
    <input type="text" class="form-control" name="email" id="email" placeholder="Enter a students email address">
  </div>
  <button type="submit" class="btn btn-default btn-success">Create new student</button>
</form>